<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Un sitio Feliz</title>
</head>
<body>
    

    <header>
        <h1>Bienvenidos a una página para ser felices</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <article>
            <h2>Contenido principal</h2>
            <p>Acá tienen un perrito feliz</p>
            <img src="image1.jpg" alt="Featured Image 1">
        </article>

        <article>
            <h2>Más Felicidad</h2>
            <p>Acá un gatito feliz.</p>
            <img src="image2.jpg" alt="Featured Image 2">
        </article>
    </section>

    <footer>
        <p>&copy; 2023 Mi página para ser feliz</p>
    </footer>

</body>
</html>
