<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea Erick Villegas</title>
    <link th:href="@{/styles/Style.css}" rel="stylesheet"/>
</head>
<body>
    
    <header>
        <h1>Página de prueba al html y css</h1>
        <h2>Click a la casilla de hola mundo para comprobar</h2>
        <div id = "Principal">
            <a href="#" class="Hello-world">Hola mundo</a>
            <input type="checkbox" id="Prin">
        </div>
    </header>
</body>
</html>