<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Para Tarea Semana 10</title>
    <style>
        /* Add some basic styling with CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: blue;
        }
        h2 {
            color: green;
        }
        div {
            border: 2px solid black;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Integrante:</h1>
    <h2>Sergio Aguero Valle</h2><br>
    <br>
    <br>
    <div>
        <p>Este es el texto que esta ubicado dentro del div</p>
    </div>
    

</body>
</html>